main{
    background-color: #EFEEF1;
    width: 100%;
    height: 75vh;
}

main .contenedor-registro{
    width: 500px;
    min-height: 400px;
    max-width: 1000px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}

main .contenedor-registro .cabezera-form{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

main .contenedor-registro .cabezera-form .titulo-form{
    width: 40%;
}

main .contenedor-registro .cabezera-form .enlaces-cabezera{
    width: 60%;
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

main .contenedor-registro .cabezera-form button{
    font-size: 16px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid transparent;
}

main .contenedor-registro .cabezera-form button:hover{
    cursor: pointer;
    opacity: 90%;
}

main .contenedor-registro .cabezera-form  button:nth-child(2){
    background-color: #3C5A99;
    color: #fff;
}

main .contenedor-registro .cabezera-form  button:nth-child(3){
    background-color: #fff;
    color: #000;
    border: 2px solid #9d9d9d;
}

main .contenedor-registro .cabezera-form  button:nth-child(3):hover{
    background-color: #ededed;;
}

main .contenedor-registro .cuero-form{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

main .contenedor-registro .cuero-form input{
    padding: 10px;
}

main .contenedor-registro .cuero-form .cuerpo-uno{
    margin-right: 10px;
}

main .contenedor-registro .cuero-form .cuerpo-dos .input-enviar{
    background-color: #6504B5;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    border: none;
}

main .contenedor-registro .cuero-form .cuerpo-dos .input-enviar:hover{
   cursor: pointer;
   background-color: #430178;
}


footer .seccion2 .parte1 ul {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
}


@media (max-width: 768px) {

    main .contenedor-registro{
        max-width: 100%;
        width: 100%;
    }

    main .contenedor-registro .cuero-form{
        flex-direction: column;
    }

    main .cabezera-form{
        display: flex;
        flex-direction: column;
    }

    main .contenedor-registro .cabezera-form .enlaces-cabezera {
        width: 100%; 
        display: flex;
         justify-content: start;
    }
    
    main .contenedor-registro .cabezera-form button:nth-child(2) {
       margin-right: 10px;
    }
  }
  